@model Store.ViewModels.DetailsVM

<div class="col-lg-4 col-md-6 pb-4">
    <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
        <div class="card-body px-3 pt-3 pb-1 row">
            <div class="col-7"><label class="float-left">@Model.Product.Name</label></div>
            <div class="col-5"><label class="float-right">@Model.Product.Price&nbsp;<i class="fas fa-dollar-sign"></i></label> </div>
        </div>
        <img class="card-img-top mb-3" width="286px" height="286px" src="@WC.ImagePath@Model.Product.Image" alt="Card image cap">
        <div class="card-body p-1 px-3 row">
            <textarea>@Model.Product.Description</textarea>
            <div class="col-6">
                <span class="badge p-2 border w-100 bg-info">@Model.Product.Category.Name</span>
            </div>
            <div class="col-6 border-0">
                <span class="badge p-2 border w-100 bg-secondary">@Model.Product.ApplicationType.Name</span>
            </div>
        </div>
    </div>
</div>