@model Store.ViewModels.HomeVM

<div class="container">
    <div class="text-left">
        <button class="btn btn-secondary filter-button" data-filter="all">All</button>
        @foreach (var category in Model.Categories)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@category.Name.Replace(' ', '_')">
                @category.Name
            </button>
        }
    </div>
    <br/>
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="card bg-light d-flex justify-content-between" style="width: 18rem;">
                <h5 class="card-title text-center">@product.Name</h5>
                <img class="card-img-top p-2 rounded" width="286px" height="286px" src="@WC.ImagePath@product.Image" alt="Card image cap">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <span class="rounded bg-info p-1 pr-2 pl-2">@product.Category.Name</span>
                        <span class="rounded bg-secondary p-1 pr-2 pl-2">@product.ApplicationType.Name</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>